
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before { content: "\e649"; }
.icon-cart:before { content: "\e63f"; }
.icon-cart-plus:before { content: "\e640"; }
.icon-trash:before { content: "\e645"; }
.icon-search:before { content: "\e651"; }
.icon-left:before { content: "\e625"; }
.icon-favorite:before { content: "\e62a"; }
.icon-setup:before { content: "\e8b7"; }
.icon-plus-square:before { content: "\e8de"; }
.icon-plus-square-o:before { content: "\e8df"; }
.icon-plus-circle-o:before { content: "\e8e0"; }
.icon-plus-circle:before { content: "\e8e1"; }
.icon-minus-square:before { content: "\e8e2"; }
.icon-plus:before { content: "\e8e3"; }
.icon-minus-circle:before { content: "\e8e4"; }
.icon-minus:before { content: "\e8e5"; }
.icon-minus-square-o:before { content: "\e8e6"; }
.icon-checked-circle-o:before { content: "\e8e7"; }
.icon-checked-circle:before { content: "\e8e8"; }
.icon-checked:before { content: "\e8e9"; }
.icon-minus-circle-o:before { content: "\e8ea"; }
.icon-error-square-o:before { content: "\e8eb"; }
.icon-error-circle:before { content: "\e8ec"; }
.icon-error-circle-o:before { content: "\e8ed"; }
.icon-error:before { content: "\e8ee"; }
.icon-error-square:before { content: "\e8ef"; }
.icon-arrow-right:before { content: "\e8f1"; }
.icon-arrow-down:before { content: "\e8f2"; }
.icon-play-fill:before { content: "\e717"; }
.icon-share:before { content: "\e624"; }
.icon-ar:before { content: "\e65d"; }
.icon-address:before { content: "\e65e"; }
.icon-service:before { content: "\e65f"; }
.icon-user:before { content: "\e661"; }
.icon-show:before { content: "\e8f3"; }
.icon-hide:before { content: "\e8d5"; }
.icon-certificate:before { content: "\e74d"; }
.icon-like:before { content: "\e643"; }
.icon-like-fill:before { content: "\e684"; }
.icon-smile:before { content: "\e641"; }
.icon-puzzle:before { content: "\e762"; }
.icon-systemprompt_fill:before{content: "\e72f";}
.icon-systemprompt:before{content: "\e730";}
.icon-alipay:before{content: "\e8f4";}
.icon-qq:before{content: "\e882";}
.icon-weixin:before{content: "\e60c";}
.icon-weibo:before{content: "\e610";}

