#addressList {margin-top: 1px}
#addressList div{color:#333;}
.icon {width: 30px; height: 30px;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}

#tabbar-with-login hr{margin:70px 10px 20px;border-top:1px solid #CCC;border-bottom:1px solid #EEE;border-left:1px solid #CCC}
#tabbar-with-login .third-login > li{width:33.3%;line-height:40px;}
#tabbar-with-login .third-login > li a{display:inline-block;width:40px;height:40px;}
#tabbar-with-login .third-login > li .ink-icon{font-size:35px;}
#tabbar-with-register .icon-puzzle{font-size:24px;font-weight:400;color:#888;}

.text-muted{color:#999!important;}
.text-primary{color:#0E90D2!important;}
.text-warning{color:#BE590A!important;}
.text-success{color:#5EB95E!important;}
.text-danger{color:#D93C37!important;}
.text-secondary{color:#3BB4F2!important;}

.ink-scroll{position:relative;left:0px;right:0px;overflow-x:auto;}
.ink-scroll::-webkit-scrollbar{width:0px;height:0px;}
.ink-scroll::-webkit-scrollbar-thumb{background: transparent;}
.ink-title{position: relative;padding:5px 0;height:50px;}
.ink-sub-title{display: inline-block;position: absolute;left:40px;right:40px;font-size:12px;text-align:center;}
.ink-view{margin-top:20px;overflow:hidden;}
.ink-view a{color:#333333;}
.short-nick{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
h1.mui-title{margin:0;font-weight:600;}
ul{padding-left:0px;margin:0px;overflow:hidden;}
li{list-style:none;}
.ink-text-lg{font-size:120%;}
a.sortNick{color:#333;}
a.sortNick2{color:#FFF;}
.myThumb{width:100%;}

.ink-bar-header{height:55px;background:#FFD71D;color:#333333;box-shadow: none;}
.ink-bar-login-reg{background-color: #FFF;}
.mui-bar-nav.mui-bar .ink-icon{font-size: 30px;color:#333;padding:12px;}
.mui-bar-nav.mui-bar.ink-bar-login-reg .ink-icon{padding:12px 0;}
.mui-bar-nav.mui-bar .ink-sub-title{top:30px;font-weight:400;color:#333;}
.ink-login-reg,.ink-action-right{line-height:44px;color:#333;font-size:16px;}

#ink-nav{padding-top:55px;padding-bottom:0px;position: fixed;left:0px;right:0px;z-index:10;}
ul.ink-nav{min-width:740px;height:40px;line-height:40px;background:#fff;font-size:14px;}
ul.ink-nav > li{width:80px;height:40px;padding:0 15px;border-bottom:2px #e3e3e3 solid;}
ul.ink-nav > li > a{color:#666666;display:inline-block;height:40px;padding:0 10px;}
ul.ink-nav > li.active > a{color:#333333;font-weight: 600;border-bottom:2px #444 solid;}

.all-sort{position: absolute;right:0px;z-index:10;top:55px;padding:9px 15px 6px 5px;background:#fff; color:#BBBBBB;border-bottom: 2px solid #e3e3e3;}
.all-sort .ink-icon{font-size:20px;}

.ink-bar-tab{box-shadow: none;}
.mui-bar-tab .mui-tab-item .ink-icon{font-size:30px;}
.thumb > img{width:100%;}

.ink-body{padding-top:95px;padding-bottom: 50px;}
#selected-store{background:#FFFFFF;}
#ink-body .ink-sub-title{top:35px;font-weight:300;color:#999}
.select-sort{width:720px;margin-top:20px;}
.select-sort > li{width:120px;float:left;height:200px;}
.select-sort .thumb{width:80px;height:80px;border-radius:80px;margin:0 auto;border:1px solid #EFEFEF;overflow:hidden;display:block;}
.select-sort .nick{width:80px;margin:5px auto;margin-top:10px;font-size:14px;font-weight:500;}
.select-sort .nick .dsc{font-weight:400;color:#999;height:21px}
.select-sort a.follow{width:30px;height:30px;margin:0 auto;display:block;color:#333;text-align:center;}
.select-sort a.unfollow{background:#FFD71D;}
.select-sort a.followed{background:#EEEEEE;}
.select-sort a.follow > .ink-icon{font-size:20px;line-height:30px;font-weight:800;}

.ink-sm-goods ul,.ink-md-goods ul,.ink-lg-goods ul{overflow: hidden;}
.ink-sm-goods ul > li{width:150px;padding:5px 10px;}
.goods-title{font-size:14px;margin: 5px 0;color:#666666;}
.goods-price{font-size:14px;color:#DD514C;padding-bottom:10px;}
.ink-md-goods .goods-item{background:#FFF;box-shadow:1px 1px 10px #DDD;position:relative;}
.ink-md-goods .goods-title{padding:15px 10px 5px;margin:0;}
.ink-md-goods .goods-price{padding:0px 10px 15px;margin:0;}
.ink-md-goods .goods-item a.like{position:absolute;top:0px;right:0px;padding:10px;}
.ink-md-goods .goods-item a.like > .icon-like-fill{font-size:20px;color:#DD514C}
.ink-md-goods .goods-item a.like > .icon-like{font-size:20px;color:#999;}

.ink-md-goods ul{padding:5px;}
.ink-md-goods ul > li{width:50%;padding:10px 5px;}

.ink-lg-goods .ink-title{padding:15px 0 10px;font-weight:500;display:block;}
.ink-lg-goods .ink-title .ink-icon{font-size:12px;}
.ink-lg-goods ul > li{width:250px;padding:10px;}

.mui-btn-ink{background:#FFD71D;border:#FFD71D;color:#333;font-size:15px;padding:10px 0;position:absolute;left:10px;right:10px;width:auto;}
.mui-input-row .mui-input-password~.mui-icon-eye{font-family:"iconfont" !important;}
.mui-input-row label~input{font-size:14px;width:85%;color:#666666}
.mui-input-row label{width:15%;padding:8px 15px;color:#333333}
.mui-icon-eye:before{content:"\e8d5";}
.mui-icon-eye.mui-active:before{content:"\e8f3";}

.ink-member-header{position: relative;width:100%;background: #777777;}
.ink-member-header img.back{width:100%;height:100%;opacity: 0.35;}
.ink-member-header .ink-member-info{position: absolute;top:0;left:0;width:100%;height:100%;}
.ink-member-header li{width:75px;}
.ink-member-header .thumb{position: absolute;top:40px;left:30px;width:70px;height:70px;border-radius:70px;border:1px solid #AAAAAA;overflow:hidden;}
.ink-member-header .nick{position: absolute;top:130px;left: 15px;text-align:center;color:#FFFFFF;font-size:14px;width:100px;}
.ink-member-header .nick > .mui-btn{width:100px;}
.ink-member-header .nick > .mui-btn.mui-active{background-color:#FFFFFF;color:#333333;}
.ink-member-header .info{position: absolute;top:45px;left:120px; width:225px;height:60px;font-size:14px;font-weight:300;}
.ink-member-header .info div{text-align: center;height:30px;line-height:30px;color:#FFFFFF;border-left: 1px solid #FFFFFF}
.ink-member-header .info >li:first-child div{border-left:none;}
.ink-member-header .info p{color:#FFF;margin-top:10px;text-align: center;}
.ink-member-action{margin-top:-1px;}
.ink-member-action > li{height:75px;border-top:1px solid #EEEEEE;border-left:1px solid #EEEEEE;}
.ink-member-action > li > a{text-align:center;display:table-cell;height:75px;width:1%;vertical-align: middle;}
.ink-member-action > li > a > .ink-icon{padding-top:0;padding-bottom: 0px;position: relative;z-index: 20;}
.ink-member-action > .lg{width:50%;}
.ink-member-action > .lg > a{font-size: 14px;color:#666666}
.ink-member-action > .lg > a > .ink-icon{top:3px;width:28px;height:28px;font-size:28px;}
.ink-member-action > .sm{width:33.33%}
.ink-member-action > .sm > a{font-size: 12px;color:#999999}
.ink-member-action > .sm > a > .ink-icon{top:5px;width:24px;height:24px;font-size:24px;}
.ink-member-action > .lg span.title{margin-top:5px;display:block}
.ink-member-action > .sm span.title{margin-top:0px;display:block;}
#tabbar-with-login,#tabbar-with-register{background:url('../images/login_reg_bg.png');background-size:100% auto;padding-top:40px;min-height:500px;}
.mui-table-view-cell:after{left:1px;}
.mui-table-view-cell a,.mui-table-view-cell span{font-size:14px;color:#888!important;display:inline-block;}
.ink-full-screen{z-index:25;background:#EFEFF4;}
.wm-logo img{width:60px;height:60px;margin:30px auto;}
.input-lg label{width:35%;font-size:80%;line-height:24px;}
.input-lg label~input{width:65%;text-align:right;}
.input-lg label~p,.input-lg label~a{line-height:40px;margin-right:15px;font-size:14px;color:#666;width:50%;text-align:right;}
#selectSex a{font-size:16px;}
ul.mui-pciker-list{overflow:initial;}

.member-detail{padding-top:20px;}
.member-detail .thumb{width:100px;height:100px;border-radius:100px;overflow:hidden;margin:20px;margin-top:0;border:1px solid #ddd;}
.member-detail .thumb~p{position:relative;top:40px;}

