<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>玩墨网</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="static/css/mui.min.css" rel="stylesheet"/>
		<link href="static/css/iconfont_2.css" rel="stylesheet"/>
		<link href="static/css/mui.picker.min.css" rel="stylesheet" type="text/css" />
		<link href="static/css/inklego_3.css" rel="stylesheet" />
	</head>
	<body>
		<div class="ink-content">
			<div id="tabbar-with-info" class="mui-control-content mui-active"></div>
						<div id="tabbar-with-login" class="mui-control-content">
				<header class="mui-bar mui-bar-nav ink-bar ink-bar-login-reg">
					<a class="ink-icon iconfont icon-left mui-pull-left mui-tab-item" href="#tabbar-with-info"></a>
					<a class="mui-pull-right ink-login-reg mui-tab-item" href="#tabbar-with-register">
						<strong>登录</strong>
						<span>注册</span>
					</a>
				</header>
				<div class="mui-card" style="margin-top: 200px;">
					<div id="login" class="mui-card-content">
						<form class="mui-input-group">
							<div class="mui-input-row">
								<label><span class="mui-icon mui-icon-email"></span></label>
								<input id='account' type="text" class="mui-input-clear mui-input" placeholder="请输入邮箱" />
							</div>
							<div class="mui-input-row mui-password">
								<label><span class="mui-icon mui-icon-locked"></span></label>
								<input id='password' type="password" class="mui-input-password" placeholder="请输入密码" />
							</div>
							<div class="mui-input-row" id="showCode" style="display:none;">
								<label><span class="mui-icon mui-icon-camera"></span></label>
								<input id='code' type="text" class="mui-input" placeholder="请输入验证码" style="width:45%;float:left;" />
								<img src="" id="codeImg" style="margin-top:5px;float:right;"/>
							</div>
						</form>
					</div>
				</div>
				<a class="mui-btn mui-btn-ink mui-btn-block" onclick="login();" >登录</a>
				<hr/>
				<ul class="third-login">
					<li class="mui-pull-left mui-text-right">
						<a href="http://www.inklego.com/fastlogin/alipay">
							<span class="ink-icon iconfont icon-alipay text-secondary"></span>
						</a>
					</li>
					<li class="mui-pull-left mui-text-center">
						<a href="http://www.inklego.com/fastlogin/sinaweibo">
							<span class="ink-icon iconfont icon-weibo text-danger"></span>
						</a>
					</li>
					<li class="mui-pull-left mui-text-left">
						<a href="http://www.inklego.com/fastlogin/qq">
							<span class="ink-icon iconfont icon-qq text-primary"></span>
						</a>
					</li>
				</ul>
			</div>
			<div id="tabbar-with-register" class="mui-control-content">
				<header class="mui-bar mui-bar-nav ink-bar-login-reg">
					<a class="ink-icon iconfont icon-left mui-pull-left mui-tab-item" href="#tabbar-with-info"></a>
					<a class="mui-pull-right ink-login-reg mui-tab-item" href="#tabbar-with-login">
						<span>登录</span>
						<strong>注册</strong>
					</a>
				</header>
				<div class="mui-card" style="margin-top: 340px;">
					<div id="register" class="mui-card-content">
						<form class="mui-input-group">
							<div class="mui-input-row">
								<label><span class="mui-icon mui-icon-email"></span></label>
								<input id='reg_email' type="email" class="mui-input-clear mui-input" placeholder="请输入邮箱" />
							</div>
							<div class="mui-input-row">
								<label><span class="ink-icon iconfont icon-puzzle"></span></label>
								<input id='reg_nick' type="text" class="mui-input-clear mui-input" placeholder="请输入昵称" />
							</div>
							<div class="mui-input-row mui-password">
								<label><span class="mui-icon mui-icon-locked"></span></label>
								<input id='reg_pswd' type="password" class="mui-input-password" placeholder="请输入密码" />
							</div>
						</form>
					</div>
				</div>
				<a class="mui-btn mui-btn-ink mui-btn-block" onclick="register();" >注册</a>
			</div>
					</div>
		<div id="selectSex" class="mui-popover mui-popover-action mui-popover-bottom">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a id="sex0" href="javascript:;">保密</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="sex1" href="javascript:;">男</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="sex2" href="javascript:;">女</a>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a id="cancel" href="javascript:;"><b>取消</b></a>
				</li>
			</ul>
		</div>
	</body>
</html>
<script id="infoTpl" type="text/html">
	<nav class="mui-bar mui-bar-tab ink-bar-tab">
		<a class="mui-tab-item webAction" href='http://www.inklego.com/mb'>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-store"></use>
				</svg>
		</a>
		<a class="mui-tab-item webAction" href='http://www.inklego.com/mb/presale/prelist'>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-presale"></use>
				</svg>
		</a>
		<a class="mui-tab-item webAction" href='http://www.inklego.com/mb/artiste/artlist'>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-artiste"></use>
				</svg>
		</a>
		<a class="mui-tab-item webAction" href='http://www.inklego.com/mb/member/msg'>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-msg"></use>
				</svg>
		</a>
		<a class="mui-tab-item" href="#">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-my2"></use>
				</svg>
		</a>
	</nav>
	<header id="ink_member_header" class="ink-member-header">
		<img src="static/picture/user_default_bg.jpg" class="back"/>
		<div class="ink-member-info">
			<div class="thumb">
				<a href='http://www.inklego.com/mb/artiste'>
					<img src="static/picture/33a99363f4b14321a154889a3ccc2d03.gif" class="myThumb"/>
				</a>
			</div>
			<div class="nick">
				{{if id}}
				<a class="sortNick2" href='http://www.inklego.com/mb/artiste'><div class="short-nick">{{nick}}</div></a>
				{{else}}
				<a class="mui-btn mui-tab-item" href="#tabbar-with-login">登录/注册</a>
				{{/if}}
			</div>
			<ul class="info">
				<li class="mui-pull-left">
					<a href='{{if id}}http://www.inklego.com/mb/member/follow{{else}}javascript:;{{/if}}'>
						<div>关注</div>
						<p>{{if id}}{{followCount}}{{else}}0{{/if}}</p>
					</a>
				</li>
				<li class="mui-pull-left">
					<a href='{{if id}}http://www.inklego.com/mb/member/fans{{else}}javascript:;{{/if}}'>
						<div>粉丝</div>
						<p>{{if id}}{{fansCount}}{{else}}0{{/if}}</p>
					</a>
				</li>
				<li class="mui-pull-left">
					<div>动态</div>
					<p>0</p>
				</li>
			</ul>
		</div>
	</header>
	<div class="mui-table-view ink-view">
		<ul class="ink-member-action">
			<li class="mui-pull-left lg" >
				<a href='{{if id}}http://www.inklego.com/mb/member/order{{else}}javascript:;{{/if}}'>
					<span class="mui-icon ink-icon iconfont icon-edit"></span>
					<span class="title">订单</span>
				</a>
			</li>
			<li class="mui-pull-left lg">
				<a href='{{if id}}http://www.inklego.com/mb/member/cart{{else}}javascript:;{{/if}}'>
					<span class="mui-icon ink-icon iconfont icon-cart"></span>
					<span class="title">购物车</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="mui-table-view ink-view">
		<ul class="ink-member-action" id="info2">
			<li class="mui-pull-left sm">
				<a href='{{if id}}http://www.inklego.com/mb/member/addresslist{{else}}javascript:;{{/if}}'>
					<span class="mui-icon ink-icon iconfont icon-address"></span>
					<span class="title">地址</span>
				</a>
			</li>
			<li class="mui-pull-left sm">
				<a href='{{if id}}http://www.inklego.com/mb/member/index/detail{{else}}javascript:;{{/if}}' {{if id}}class="mui-tab-item"{{/if}}>
					<span class="mui-icon ink-icon iconfont icon-user"></span>
					<span class="title">账户</span>
				</a>
			</li>
			<li class="mui-pull-left sm">
				<a href='{{if id}}http://www.inklego.com/mb/member/collection{{else}}javascript:;{{/if}}'>
					<span class="mui-icon ink-icon iconfont icon-favorite"></span>
					<span class="title">收藏</span>
				</a>
			</li>
			<li class="mui-pull-left sm">
				<a {{if id}}href='http://www.inklego.com/mb/member/msg' class="webAction" {{else}}href="javascript:;"{{/if}}>
					<span class="mui-icon ink-icon iconfont icon-service"></span>
					<span class="title">客服</span>
				</a>
			</li>
			<li class="mui-pull-left sm">
				<a class="waiting">
					<span class="mui-icon ink-icon iconfont icon-ar"></span>
					<span class="title">AR</span>
				</a>
			</li>
			<li class="mui-pull-left sm">
				<a href="{{if id}}#tabbar-with-setup{{else}}javascript:;{{/if}}" {{if id}}class="mui-tab-item"{{/if}} >
					<span class="mui-icon ink-icon iconfont icon-setup"></span>
					<span class="title">设置</span>
				</a>
			</li>
		</ul>
	</div>
</script>
<script id="detailTpl" type="text/html">
	<form class="mui-input-group member-detail">
		<div class="thumb mui-pull-left actionUpload">
			<img src="static/picture/4cd58ffe4b0e4993a752d9b88ae92f85.gif" class="myThumb"/>
		</div>
		<p class="mui-pull-left actionUpload">点击上传您的头像</p>
		<div class="mui-hidden"><input type='file' id="uploadThumb" onchange="uploadthumb();"/></div>
		<div class="mui-input-row input-lg">
			<label class="lg">昵称：</label>
			<input type="text" placeholder="昵称" value="{{nick}}" id="editNick" onchange="update({nickname:this.value})"/>
		</div>
		<div id="currentSex" class="mui-input-row input-lg">
			<label class="lg">性别：</label>
			<a href="#selectSex" id="sexStr" class="mui-pull-right">{{sexArr[sex]}}</a>
			<input type="hidden" id="sexVal" value="{{sex}}" />
		</div>
		<div id="currentBirthday" class="mui-input-row input-lg">
			<label class="lg">生日：</label>
			<a id="birthday" data-options='{"type":"date","beginYear":1950,"endYear":2016}' class="mui-pull-right">{{birthday}}</a>
		</div>
		<div class="mui-input-row input-lg">
			<label class="lg">个人简介：</label>
			<p class="mui-pull-right">{{remark}}</p>
		</div>
		<div class="mui-input-row input-lg">
			<label class="lg">密码：</label>
			<p class="mui-pull-right" style="color:#FFD71D">修改密码</p>
		</div>
		<div class="mui-input-row input-lg">
			<label class="lg">我的邮箱：</label>
			<p class="mui-pull-right">{{email}}</p>
		</div>
	</form>
</script>
<script src="static/js/mui.min.js"></script>
<script src="static/js/mui.picker.min.js"></script>
<script src="static/js/template.js"></script>
<script src="static/js/iconfont.js"></script>
<script type="text/javascript">
	mui.init();
	var screenWidth = parseInt(document.body.clientWidth);
	var screenHeight= parseInt(document.documentElement.clientHeight);
	var aniShow = "pop-in";
		var loginUrl    = "http://www.inklego.com/api/v1/user/login";
	var regUrl      = "http://www.inklego.com/api/v1/user/register";
	var infoTpl = template('infoTpl',{id:0});
	document.querySelector('#tabbar-with-info').innerHTML=infoTpl;
	document.querySelector('#ink_member_header').style.height=screenWidth*0.5+'px';
	function login(){
		var account  = document.querySelector('#account').value;
		var password = document.querySelector('#password').value;
		var code     = document.querySelector('#code').value;
		if (account.length <= 0) {mui.toast('账户名必须输入'); return false;}
		if (password.length <= 0) {mui.toast('密码必须输入'); return false;}
		mui.post(loginUrl,{username:account,password:password,code:code},function(result){
			if (result.result) window.location.reload();
			else if(result.error==401) {showCode();}
			else if(document.querySelector('#showCode').style.display=='block') {mui.toast(result.errorMessage);showCode();}
			else {mui.toast(result.errorMessage);}
		});
	}
	function register(){
		var email  = document.querySelector('#reg_email').value;
		var nick   = document.querySelector('#reg_nick').value;
		var pswd   = document.querySelector('#reg_pswd').value;
		if (email.length <= 0) {mui.toast('邮箱地址必须输入'); return false;}
		if (nick.length <= 0) {mui.toast('昵称必须输入'); return false;}
		if (pswd.length <= 0) {mui.toast('密码必须输入'); return false;}
		if(! isEmail(email) ) {mui.toast('邮箱格式错误'); return false;}
		if (pswd.length <= 5 || pswd.length >=13) {mui.toast('密码必须6~12位'); return false;}
		mui.post(regUrl,{username:email,nickname:nick,password:pswd},function(result){
			if(result.result){
				document.querySelector('#account').value  = email;
				document.querySelector('#password').value = pswd;
				mui.toast('欢迎您，'+nick);
				setTimeout(function(){login();},1500);
			}
			else {
				mui.toast(result.errorMessage);
			}
		});
	}
	function isEmail(strEmail) {
		if (strEmail.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1) return true;
		else return false;
	}	
	function showCode(){
		var codeUrl = "http://www.inklego.com/api/v1/common/code";
		mui.post(codeUrl,{},function(result){
			img     = document.querySelector('#codeImg');
			img.src = "data:image/jpg;base64,"+result.result;
			document.querySelector('#showCode').style.display="block";
		});
	}
	mui('.ink-bar-tab').on('tap', 'a.webAction', function(e) {
		var timestamp = Date.parse(new Date())/1000;
		var url = this.href;
		if (url && url.indexOf('#')<0) {
			url = url+"?ver="+timestamp;
			mui.openWindow({url:url,id:url});
		}
	});
	</script>
